* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: #0c0e11;
}
html {
  overflow: auto;
}

@font-face {
  font-display: swap;
  font-family: burbank;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/burbankbigcondensed_bold.otf') format('opentype');
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
